# Bot Telegram
BOT_TOKEN=Tu_Token_De_Telegram_Aqui
ADMIN_ID=Tu_ID_De_Telegram_Aqui

# Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=netdare_db
DB_PORT=3306

# Configuración
DEBUG=True
